footer {
  background-color: blue;
  color: white;
  .container {
    .footer-content {
      padding: 40px 0;

      .footer-top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .contact {
          a {
            border: 1px solid transparent;
            border-radius: 10px;
            background-color: white;
            color: black;
            padding: 5px 20px;
            transition: 0.5s;

            &:hover {
              background-color: rgba(0, 0, 0, 0.397);
              color: white;
            }
          }
        }
      }
      .footer-center {
        .top {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 10px;

          .profil-name {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border: 1px solid transparent;
            border-radius: 50%;
            color: black;
            background-color: white;
            font-weight: bolder;
            margin-bottom: 5px;
          }
          .text-footer {
            text-align: justify;
            margin-bottom: 10px;
          }
          .media {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
          }
        }

        .center {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          padding: 20px 0;

          .nav-contact {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .navigation {
              ul {
                li {
                  a {
                    &:hover {
                      color: black;
                      font-weight: bolder;
                      transition: 0.5s;
                    }
                  }
                }
              }
            }
          }
          .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .gmail {
              width: 100%;
              border: 1px solid transparent;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              background-color: white;
              color: black;
              padding: 0 5px 0 0;

              input {
                padding: 6px;
                outline: none;
                border-radius: 10px;
                width: 250px;
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      margin-top: 10px;
      text-align: center;
    }
  }
}

// Extra small devices
@media (min-width: 481px) and (max-width: 767px) {
  footer {
    background-color: blue;
    color: white;
    .container {
      .footer-content {
        padding: 40px 0;

        .footer-top {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .contact {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .footer-center {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          padding-bottom: 10px;
          .top {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }

          .center {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
            padding: 20px 0;

            .nav-contact {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 20px;
            }
            .bottom {
              .gmail {
                input {
                  padding: 6px;
                  outline: none;
                  border-radius: 10px;
                  width: 250px;
                }
              }
            }
          }
        }
      }
      .footer-bottom {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

//small tablets
@media (min-width: 768px) and (max-width: 991px) {
  footer {
    background-color: blue;
    color: white;
    .container {
      .footer-content {
        padding: 40px 0;

        .footer-top {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .contact {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .footer-center {
          display: grid;
          grid-template-columns: 40% 1fr;
          gap: 20px;
          padding-bottom: 10px;
          .top {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }

          .center {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .nav-contact {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 20px;
            }
            .bottom {
              .gmail {
                input {
                  padding: 6px;
                  outline: none;
                  border-radius: 10px;
                  width: 250px;
                }
              }
            }
          }
        }
      }
      .footer-bottom {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

//large tablets /laptop
@media (min-width: 992px) and (max-width: 1199px) {
  footer {
    background-color: blue;
    color: white;
    .container {
      .footer-content {
        padding: 40px 0;

        .footer-top {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .contact {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .footer-center {
          display: grid;
          grid-template-columns: 40% 1fr;
          gap: 20px;
          padding-bottom: 10px;
          .top {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }

          .center {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .nav-contact {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 20px;
            }
            .bottom {
              .gmail {
                input {
                  padding: 6px;
                  outline: none;
                  border-radius: 10px;
                  width: 250px;
                }
              }
            }
          }
        }
      }
      .footer-bottom {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  footer {
    background-color: blue;
    color: white;
    .container {
      .footer-content {
        padding: 40px 0;

        .footer-top {
          display: grid;
          grid-template-columns: repeat(2, 1fr);

          .contact {
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .footer-center {
          display: grid;
          grid-template-columns: 40% 1fr;
          gap: 20px;
          padding-bottom: 10px;
          .top {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
          }

          .center {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            .nav-contact {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 20px;
            }
            .bottom {
              .gmail {
                input {
                  padding: 6px;
                  outline: none;
                  border-radius: 10px;
                  width: 250px;
                }
              }
            }
          }
        }
      }
      .footer-bottom {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
