.skill {
  padding: 40px 0;
  .container {
    .skill-content {
      .skill-know {
        display: none;
      }
      .left {
        width: 100%;
        text-align: center;
        .text {
          text-align: justify;
        }
      }
      .right {
        padding: 40px 0 0 0;
        color: white;
        // seame-element
        .seame-element {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
          padding: 10px;
          background-color: blue;
          border-radius: 15px;

          .left {
            display: flex;
            flex-direction: column;
            width: 100%;
            .logo-title {
              display: flex;
              align-items: center;
              gap: 20px;
              margin-bottom: 8px;
              .logo {
                width: 30px;
                height: 30px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  overflow: hidden;
                }
              }
            }

            .text {
              text-align: left;
            }
          }
          .right {
            padding: 0;
            width: 100%;
            height: 90px;

            img {
              width: 100%;
              height: 90px;
              border-radius: 10px;
              overflow: hidden;
            }
          }
        }
        // seame-element end

        //two-elements
        .two-elements {
          padding: 10px 0;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;

          .photoShop,
          .illustrator {
            width: 100%;
          }
          //   ia-shop
          .ia-shop {
            display: grid;
            grid-template-rows: 40% 1fr;
            gap: 20px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;
            height: 220px;
            // left
            .left {
              .text {
                text-align: left;
                margin-bottom: 10px;
              }
              .logo-title {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: -10px;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }
            }
            // left end

            // right
            .right {
              width: 100%;
              height: 90px;
              border-radius: 10px;
              margin-top: 10px;
              padding: 0;

              img {
                width: 100%;
                height: 90px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
            // right end
          }
          //   ia-shop end
        }
        //two-elements end
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .skill {
    .container {
      .skill-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .skill-know {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          color: white;

          // seame-element-forma
          .seame-element-forma {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;

            .left {
              display: flex;
              flex-direction: column;
              width: 100%;
              .logo-title {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 8px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }

              .text {
                text-align: left;
              }
            }
            .right {
              padding: 0;
              width: 100%;
              height: 90px;

              img {
                width: 100%;
                height: 90px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
          }
          // seame-element-forma end
          // ia-shop-forma
          .ia-shop-forma {
            display: grid;
            grid-template-rows: 40% 1fr;
            gap: 20px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;
            height: 220px;
            // left
            .left {
              .text {
                text-align: left;
                margin-bottom: 10px;
              }
              .logo-title {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: -10px;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }
            }
            // left end

            // right
            .right {
              width: 100%;
              height: 90px;
              border-radius: 10px;
              margin-top: 10px;
              padding: 0;

              img {
                width: 100%;
                height: 90px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
            // right end
          }
          // ia-shop-forma end
        }
        .left-skill {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        .right-skill {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
        .hidden-skill {
          display: none;
        }
      }
    }
  }
}

//large tablets /laptop
@media (min-width: 992px) and (max-width: 1199px) {
  .skill {
    .container {
      .skill-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .skill-know {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          color: white;

          // seame-element-forma
          .seame-element-forma {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;

            .left {
              display: flex;
              flex-direction: column;
              width: 100%;
              .logo-title {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 8px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }

              .text {
                text-align: left;
              }
            }
            .right {
              padding: 0;
              width: 100%;
              height: 90px;

              img {
                width: 100%;
                height: 90px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
          }
          // seame-element-forma end
          // ia-shop-forma
          .ia-shop-forma {
            width: 80%;
            display: grid;
            grid-template-rows: 40% 1fr;
            gap: 20px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;
            height: 220px;
            // left
            .left {
              .text {
                text-align: left;
                margin-bottom: 10px;
              }
              .logo-title {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: -10px;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }
            }
            // left end

            // right
            .right {
              width: 100%;
              height: 90px;
              border-radius: 10px;
              margin-top: 10px;
              padding: 0;

              img {
                width: 100%;
                height: 90px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
            // right end
          }
          // ia-shop-forma end
        }
        .left-skill {
          display: flex;
          align-items: end;
          justify-content: end;
          flex-direction: column;
          gap: 10px;
          margin-top: 25px;
        }
        .right-skill {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 25px;
        }
        .hidden-skill {
          display: none;
        }
      }
    }
  }
}

//desktops
@media (min-width: 1200px) and (max-width: 1919px) {
  .skill {
    .container {
      .skill-content {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 30px;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .skill-know {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          color: white;

          // seame-element-forma
          .seame-element-forma {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;

            .left {
              display: flex;
              flex-direction: column;
              width: 100%;
              .logo-title {
                display: flex;
                width: 100%;

                gap: 20px;
                margin-bottom: 8px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }

              .text {
                text-align: left;
              }
            }
            .right {
              padding: 0;
              width: 100%;
              height: 90px;

              img {
                width: 100%;
                height: 90px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
          }
          // seame-element-forma end
          // ia-shop-forma
          .ia-shop-forma {
            width: 60%;
            display: grid;
            grid-template-rows: 40% 1fr;
            gap: 10px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;
            height: 240px;
            // left
            .left {
              .text {
                text-align: left;
                margin-bottom: 10px;
              }
              .logo-title {
                width: 100%;
                display: flex;
                gap: 20px;
                margin-bottom: 15px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: -10px;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }
            }
            // left end

            // right
            .right {
              width: 100%;
              height: 120px;
              border-radius: 10px;
              // margin-top: 10px;
              padding: 0;

              img {
                width: 100%;
                height: 120px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
            // right end
          }
          // ia-shop-forma end
        }
        .left-skill {
          display: flex;
          align-items: end;
          justify-content: end;
          flex-direction: column;
          gap: 10px;
          margin-top: 25px;
        }
        .right-skill {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 25px;
        }
        .hidden-skill {
          display: none;
        }
      }
    }
  }
}

//extra large screens
@media (min-width: 1920px) {
  .skill {
    .container {
      .skill-content {
        display: grid;
        grid-template-columns: 30% 70%;
        gap: 30px;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
        .skill-know {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
          color: white;

          // seame-element-forma
          .seame-element-forma {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;

            .left {
              display: flex;
              flex-direction: column;
              width: 100%;
              .logo-title {
                display: flex;
                width: 100%;

                gap: 20px;
                margin-bottom: 8px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }

              .text {
                text-align: left;
              }
            }
            .right {
              padding: 0;
              width: 100%;
              height: 90px;

              img {
                width: 100%;
                height: 90px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
          }
          // seame-element-forma end
          // ia-shop-forma
          .ia-shop-forma {
            width: 60%;
            display: grid;
            grid-template-rows: 40% 1fr;
            gap: 10px;
            padding: 10px;
            background-color: blue;
            border-radius: 15px;
            height: 240px;
            // left
            .left {
              .text {
                text-align: left;
                margin-bottom: 10px;
              }
              .logo-title {
                width: 100%;
                display: flex;
                gap: 20px;
                margin-bottom: 15px;
                .logo {
                  width: 30px;
                  height: 30px;
                  border-radius: 10px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: -10px;

                  img {
                    width: 30px;
                    height: 30px;
                    border-radius: 10px;
                    overflow: hidden;
                  }
                }
              }
            }
            // left end

            // right
            .right {
              width: 100%;
              height: 120px;
              border-radius: 10px;
              // margin-top: 10px;
              padding: 0;

              img {
                width: 100%;
                height: 120px;
                border-radius: 10px;
                overflow: hidden;
              }
            }
            // right end
          }
          // ia-shop-forma end
        }
        .left-skill {
          display: flex;
          align-items: end;
          justify-content: end;
          flex-direction: column;
          gap: 10px;
          margin-top: 25px;
        }
        .right-skill {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-bottom: 25px;
        }
        .hidden-skill {
          display: none;
        }
      }
    }
  }
}
